/* src/components/Homepage.css */
.homepage {
  padding: 20px;
}

.card {
  transition: transform 0.2s, background 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  color: #ffffff; /* Ensure the text is readable */
}

.card p {
  color: #ffffff; /* Ensure the text is readable */
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
